body
{
    background-color: black;
    color: white;

    -webkit-overflow-scrolling: touch;
    
    letter-spacing: 1.2px;
    line-height: 1.4;
    
    font-size: 16px;
    
    height: 100%;
    margin: 0;

    overflow-y: auto;

    
}

body, #__next
{
    width: 100%;
    padding: 0;
   
}

#__next
{
    margin: 0 auto;
    
    background-color: black;
}

body, button, input, textarea
{
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
}

button, input, p, textarea
{
    font-size: 1em;

}

button:hover, button:active {
    opacity: 0.6;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Montserrat', 'Prompt', sans-serif;
    font-weight: 500;
}